.table-header{
    background-color: lightsteelblue;
}
.view-comment-btn{
    text-decoration: underline;
    font-weight: bold;
}
.img-responsive{
    width: 50px;
}
textarea.form-control {
    height: 150px;
}
.boxed {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 4px #888888;
    border-radius: 10px;
  }