<div class="container">
    <table class="table table-striped table-responsive">
        <thead class="table-header">
            <tr>
                <th class="col-sm-1">
                    <span class="glyphicon glyphicon-user"></span>
                </th>
                <th class="col-sm-9">Album Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let album of albums">
                <td>
                    <span class="glyphicon glyphicon-picture"></span>
                </td>
                <td>{{album.title}}</td>
                <td>
                    <a class="btn btn-info" [routerLink] = "['/photos',album.id]">View</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>