<div class="container">           
  <table class="table table-striped">
    <thead>
      <tr>
        <th><span class="glyphicons glyphicons-parents"></span></th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Company</th>
        <th>Website</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td><img src="./assets/img/user.png" class="img-responsive" alt="Cinque Terre"></td>
          <td>MD</td>
          <td>BTM</td>
          <td>48656546856</td>
          <td>md@123.com</td>
          <td>md Pvt Ltd</td>
          <td>www.md.com</td>
          <td><button type="button" class="btn btn-success">Posts</button></td>
          <td><button type="button" class="btn btn-info">Albums</button></td>
      </tr>
    </tbody>
  </table>
</div>